{% extends "base.html" %}

{% block content %}
<div class="content-wrapper">
    <h1 id="%D7%A9%D7%9E%D7%97-%D7%91%D7%9E%D7%98%D7%91%D7%97---%D7%90%D7%AA%D7%A8-%D7%9C%D7%A9%D7%99%D7%AA%D7%95%D7%A3-%D7%95%D7%A0%D7%99%D7%94%D7%95%D7%9C-%D7%9E%D7%AA%D7%9B%D7%95%D7%A0%D7%99%D7%9D"
        tabindex="-1">שמח במטבח - אתר לשיתוף וניהול מתכונים</h1>
    <h2 id="%D7%AA%D7%99%D7%90%D7%95%D7%A8-%D7%94%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98" tabindex="-1">תיאור הפרויקט</h2>
    <p>שמח במטבח הוא פרויקט המאפשר למשתמשים לשתף ולנהל מתכונים.</p>
    <h2 id="%D7%AA%D7%97%D7%95%D7%9D-%D7%94%D7%A4%D7%A8%D7%95%D7%99%D7%A7%D7%98" tabindex="-1">תחום הפרויקט</h2>
    <p>הפרויקט עוסק בתחום הקולינריה ושיתוף מתכונים, ומשלב טכנולוגיות web לניהול ותצוגת מידע.</p>
    <h2 id="%D7%9E%D7%98%D7%A8%D7%95%D7%AA-%D7%94%D7%90%D7%AA%D7%A8" tabindex="-1">מטרות האתר</h2>
    <ol>
        <li>לאפשר למשתמשים להוסיף, לערוך ולמחוק מתכונים אישיים.</li>
        <li>לספק פלטפורמה לחיפוש וגילוי מתכונים חדשים.</li>
        <li>להציג סטטיסטיקות על המתכונים באתר.</li>
        <li>לאפשר ניהול משתמשים עם יכולות התחברות והרשמה.</li>
    </ol>
    <p>הפרויקט מיישם את כל פונקציונליות ה-CRUD הנדרשת לניהול מתכונים,
        ומשתמש ב-SQL לאחסון ושליפת נתונים.</p>

</div>
{% endblock %}