{% extends "base.html" %}

{% block content %}
<h1>סטטיסטיקות מתכונים</h1>
<div class="graphs">
    <div class="graph-container">
        <h2>התפלגות מתכונים לפי סוג מנה וסוג מתכון</h2>
        <img src="data:image/png;base64,{{ graph_url_1 }}" alt="התפלגות מתכונים לפי סוג מנה וסוג מתכון">
    </div>

    <div class="graph-container">
        <h2>התפלגות מתכונים לפי זמן הכנה</h2>
        <img src="data:image/png;base64,{{ graph_url_2 }}" alt="התפלגות מתכונים לפי זמן הכנה">
    </div>
</div>
{% endblock %}
